<div class="main-page">
    <h1>
      Welcome to myFlix!
    </h1>
    <div class="main-page--button">
      <button
      mat-raised-button
      (click)="openUserRegistrationDialog()"
      style="margin-right: 10px;"
      color="primary"
      class="sign-up"
    >
    Sign Up
    </button>
    <button
      mat-raised-button
      (click)="openUserLoginDialog()"
      style="margin-right: 10px;"
      color="primary"
      class="log-in"
    >
      Log In
    </button>
    </div>
  </div>
